<div class="col tab-content p-0" id="assignedTabContent">
  <!-- tab content -->
  <!-- REQUESTS ASSIGNED TO USER -->
  <div class="tab-pane fade" id="activeAssigned" role="tabpanel">
    <% assigned = all_requests_for(user, self_, 'assigned' ) %>
    <% assigned.active.each do |r| %>
      <%= render partial: 'requests/request', locals: { request: r, user: user } %>
    <% end %>
    <% unless assigned.active.any? %>
      <div class="text-dark card-body p-0 mb-2">
        <div class="card col bg-white rounded-0">
          <div class="rounded-0 row p-5">
            No active tasks
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="completedAssigned" role="tabpanel">
    <% assigned.completed.each do |r| %>
      <%= render partial: 'requests/request', locals: { request: r, user: user } %>
    <% end %>
    <% unless assigned.completed.any? %>
      <div class="text-dark card-body p-0 mb-2">
        <div class="card col bg-white rounded-0">
          <div class="rounded-0 row p-5">
            No completed tasks
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- REQUESTS USER HAS ASSIGNED -->
  <div class="tab-pane fade" id="activeRequests" role="tabpanel">
    <% requested = all_requests_for(user, self_, 'requested' ) %>
    <% requested.active.each do |r| %>
      <%= render partial: 'requests/request', locals: { request: r, user: user } %>
    <% end %>
    <% unless requested.active.any? %>
      <div class="text-dark card-body p-0 mb-2">
        <div class="card col bg-white rounded-0">
          <div class="rounded-0 row p-5">
            No active requests
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="completedRequests" role="tabpanel">
    <% requested.completed.each do |r| %>
      <%= render partial: 'requests/request', locals: { request: r, user: user } %>
    <% end %>
    <% unless requested.completed.any? %>
      <div class="text-dark card-body p-0 mb-2">
        <div class="card col bg-white rounded-0">
          <div class="rounded-0 row p-5">
            No completed requests
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- PERSONAL USER TODO'S -->
  <% if self_ %>
  <% todo = current_user.requests.my %>
  <div class="tab-pane fade" id="activeTodos" role="tabpanel">
    <% todo.active.each do |r| %>
      <%= render partial: 'requests/request', locals: { request: r, user: user } %>
    <% end %>
    <% unless todo.active.any? %>
      <div class="text-dark card-body p-0 mb-2">
        <div class="card col bg-white rounded-0">
          <div class="rounded-0 row p-5">
            CONGRATULATIONS!<br>All personal To-Do's removed
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="completedTodos" role="tabpanel">
    <% todo.completed.each do |r| %>
      <%= render partial: 'requests/request', locals: { request: r, user: user } %>
    <% end %>
    <% unless todo.completed.any? %>
      <div class="text-dark card-body p-0 mb-2">
        <div class="card col bg-white rounded-0">
          <div class="rounded-0 row p-5">
            CONGRATULATIONS!<br>All personal To-Do's removed
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

</div>
