<% self_ = current_user.is_self(@user) %>
<%= labeled_divider(label = self_ ? 'Your' : @user.display_name.concat("'s")) %>
<div class="container-fluid px-1 p-sm-2 p-md-0 full-height position-absolute">

  <div class="d-md-flex min-ht-100 pt-1 pt-sm-0 pb-5 pb-md-0">
    <!-- LEFT SIDEBAR -->
    <div id="left-sidebar" class="left-sidebar col-12 col-md-4 col-lg-3 mx-0 mt-md-0 px-0 bg-teal">
      <!-- STICKY TOP CONTAINER -->
      <div class="sticky-top pt-md-2">
          <div class="border-top-0 rounded-0">
            <!-- tab headers -->
            <ul class="nav nav-tabs mb-1 d-block text-white" id="taskTab" role="tablist" data-user-id="<%= @user.id %>">
              <%= render partial: 'profile_sidebar', locals: { self_: self_, user: @user } %>
            </ul>
          </div>
      </div>
    </div>
    <!-- MAIN CONTENT -->
    <div id="requests-window" class="col-12 col-md-8 col-lg-6 pb-2 px-1 pt-1 px-md-2 pt-md-2 pr-lg-1">
      <%= render partial: 'profile_requests', locals: { self_: self_, user: @user } %>
    </div>

    <!-- RIGHT SIDEBAR -->
    <div class="d-none d-lg-inline col-md-3 pl-1 pr-2">
      <div id="profile_sidebar" class="sidebar sticky-top pt-2">
        <div class="card border border-warning">
          <div class="card-header p-2 p-md-3">
            <div class="card-title mb-sm-1">
              <%= @user.display_name %>
            </div>
          </div>
          <div class="p-2 p-lg-3">
            <div class="col-6 col-md-12 d-dm-block float-sm-left float-md-none px-0">
                <%= link_to new_request_path(:recipient_id => params[:id]), class: "rounded-0 btn text-success text-center text-md-left d-block" do %>
                  <%= icon('fas', 'plus') %><span class="ml-2"><%= self_ ? 'Create a task' : 'New Request' %></span>
                <% end %>
            </div>
            <div class="col-6 col-md-12 d-dm-block float-sm-left float-md-none px-0">
              <% if self_ %>
                <%= link_to edit_user_registration_path, class: 'rounded-0 btn text-success text-sm-center text-md-left d-block' do %>
                  <%= icon('fas', 'user-cog') %><span class="ml-2">Account Settings</span>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex border-top pt-2 mt-2 w-100">
              <span class="small text-muted d-block"><i>Last logged in: <%= format_date(current_user.last_sign_in_at) + " at " + format_time(current_user.last_sign_in_at) %></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="mobile_footer" class="d-block col-md-4 col-lg-3 px-0 fixed-bottom text-center">
  <% recipient = self_ ? {} : {:recipient_id => params[:id]} %>
  <div class="btn-group w-100 bg-teal">

  <%= link_to root_path, class: 'd-flex flex-grow-1 text-light justify-content-center', data:{ toggle: "tooltip", title:"group" } do %>
    <div class="d-flex align-self-center d-block">
      <span class="fa-stack">
      <%= icon('fas', 'users', class: 'fa-stack-2x') %>
      </span>
    </div>
  <% end %>

  <%= link_to new_request_path(:recipient_id => current_user.id), class: "d-flex flex-grow-1 text-light justify-content-center", data:{ toggle: "tooltip", title:"assign to #{current_user.display_name}" } do %>
    <div class="d-flex align-self-center d-block">
      <span class="fa-stack">
        <%= icon('fas', 'plus', class: 'fa-stack-1x') %>
        <%= icon('far', 'sticky-note', class: 'fa-stack-2x') %>
      </span>
    </div>
  <% end %>

  <%= link_to new_request_path(recipient), class: "text-light rounded-0 px-0 btn-wrap py-0", data:{ toggle: "tooltip", title:"assign to #{@user.display_name}", offset:"30px" } do %>
  <div class="small flex-grow-1">
    <div class="btn-circle d-flex align-items-center justify-content-center bg-warning h3 mb-0 border-light">
      <span class="fa-stack fa-2x">
        <%= icon('fas', 'plus', class: 'fa-stack-1x') %>
      </span>
    </div>
  </div>
  <% end %>

  <%= link_to profiles_path(current_user), class: 'd-flex flex-grow-1 text-light justify-content-center' do %>
  <div class="d-flex align-self-center d-block">
    <span class="fa-stack">
      <%= icon('fas', 'user', class: 'fa-stack-2x') %>
    </span>
  </div>
  <% end %>

  <%= link_to edit_user_registration_path, class: 'd-flex flex-grow-1 text-light justify-content-center' do %>
    <div class="d-flex align-self-center d-block">
      <span class="fa-stack">
        <%= icon('fas', 'cog', class: 'fa-stack-2x') %>
      </span>
    </div>
  <% end %>

  </div>
</div>
</div>
