<div class="list-group-item p-0" id="comment_<%= comment.id %>" >
  <div class="input-group">
    <div class="form-control border-0 <%= 'user-comment' if current_user==comment.user %>">
      <span class="d-block">
        <%= comment.content %>
      </span>
      <% if comment.user != current_user %>
        <span class="d-block text-muted small text-right">
          <%= comment.user.display_name %> - <%= time_ago_in_words(comment.created_at) %> ago
        </span>
      <% end %>
    </div>
    <div class="input-group-append p-0 ml-auto flex-shrink-1">
    <% if comment.user == current_user %>
        <%= link_to request_comment_path(comment.request, comment), method: :delete, data: { confirm: "Are you sure?", comment_id: "#{comment.id}" }, class: 'btn m-0', title: "delete?", remote: true do %>
          <%= icon('fas', 'times', class: 'text-danger')  %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
