<div class="input-group no-border nested-fields">
  <div class="col-6 col-md-3 pl-0 pr-1 px-sm-2">
    <%= f.date_field :date, class: 'form-control form-control-sm text-light no-bg' %>
    <small>earliest date:</small>
  </div>
  <div class="col-6 col-md-3 pl-1 pr-0 px-sm-2">
    <%= f.date_field :endDate, class: 'form-control form-control-sm text-light no-bg' %>
    <small>latest date:</small>
  </div>
  <div class="col-6 col-md-3 pl-0 pr-1 px-sm-2">
    <%= f.time_field :startTime, class: 'form-control form-control-sm text-light no-bg' %>
    <small>start by:</small>
  </div>
  <div class="col-6 col-md-3 pl-1 pr-0 px-sm-2">
    <%= f.time_field :endTime, class: 'form-control form-control-sm text-light no-bg' %>
    <small>finish by:</small>
  </div>
  <div class="col-12 text-center text-sm-right my-2">
    <%= link_to_remove_association f, { class: 'btn btn-outline-warning col-xs-1 col-sm-1 p-0'} do %>
    <%= icon('fas', 'minus') %>
    <% end %>
  </div>
</div>
