<div class="text-dark card-body p-0 pb-1" id="request_block_<%= request.id %>">
  <div class="flex-column position-relative bg-white rounded-0 p-2 py-md-1 border">
    <div class=" bg-white rounded-0 d-flex justify-content-between">
      <div id="request_header_<%= request.id %>" class="d-block flex-sm-grow-1 d-sm-flex justify-content-sm-between align-items-center w-100 py-2">
          <%= tag.div request.subject, class: '' %>
          <%= tag.div time_ago_in_words(request.created_at) + " ago ", class: 'small mr-2' %>
      </div>

      <div id="request_<%= request.id %>_tools" class="request-tools align-items-center">
        <%= link_to request_path(request), class: 'btn p-2 p-sm-0 px-sm-1 text-dark btn-lg' do %>
          <% if request.comments.any? %>
            <%= icon('fas', 'comments', class: 'text-success') %>
          <% else %>
            <%= icon('far', 'comments') %>
          <% end %>
        <% end %>

        <%= link_to edit_request_path(request), class: 'btn p-2 p-sm-0 px-sm-1 text-dark btn-lg' do %>
          <%= icon('fas', 'edit') %>
        <% end %>
        <a class="btn p-2 p-sm-0 px-sm-1 text-dark btn-lg" href="#request_body_<%= request.id %>" data-toggle="collapse" data-loading-text="open" aria-expanded="false">
          <%= icon('fas', 'info-circle', class: 'bs-toggle') %>
        </a>
      </div>

    </div>
    <div class="flex-column collapse" id="request_body_<%= request.id %>" aria-expanded="false">

        <div class="py-1 my-1">
          <%= tag.i request.client_name, class: "font-weight-bold" %>
          <div class="col p-0 mb-2">
           <%= simple_format request.body %>
           </div>
        </div>

          <% if request.availabilities.any? %>
            <div class="col px-0 px-sm-1">
              <div class="row">
                <div class="col-2 col-sm-1 pt-1">
                  <hr class="mt-1 hr-divider">
                </div>
                <div class="small text-center">
                  <span class="">requests</span>
                </div>
                <div class="col pt-1">
                  <hr class="my-1 hr-divider">
                </div>
              </div>
            </div>
              <div class="d-block d-md-flex">
                <div class="col">
                  <div class="row d-block d-md-flex">
                    <% request.availabilities.each_with_index do |a, i| %>
                      <%= render partial: 'requests/datetime_request', locals: { availability: a, index: i } %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col px-0 px-sm-1">
                  <div class="d-block pt-1">
                    <hr class="mt-1 hr-divider">
                  </div>
              </div>
            <% end %>


      <div class="d-flex mt-2 justify-content-end">
        <div class="w-50 text-left">

          <% if request.participants(current_user) %>
          <div id="request_status_<%= request.id %>" class="d-flex" data-request-status="<%= request.status %>">
            <%= link_to update_status_request_path(request), remote: true, method: :patch, class: 'text-dark nav-link p-0' do %>
              <% if request.completed? %>

                <span class="d-flex align-items-center" title="status: completed">

                  <div class="toggle-holder bg-success">
                    <span class="toggle-circle toggle-circle-on"></span>
                  </div>
                  <span class="request-label small pl-2"><%= request.status %></span>
                </span>

              <% else %>
                <span class="d-flex align-items-center" title="status: pending">
                  <div class="toggle-holder bg-warning text-left">
                    <span class="toggle-circle"></span>
                  </div>
                  <span class="request-label small pl-2"><%= request.status %></span>
                </span>
              <% end %>
            <% end %>
          </div>
          <% end %>

        </div>
        <div class="w-50 text-right">
          <div class="small text-muted" >

              <% if request.user == request.recipient %>
                <span><%= icon('far', 'clipboard')%></span>
              <% else %>
                <span>assigned to <%= tag.span request.recipient.display_name, class: "text-dark" %> by <%= tag.span request.user.display_name, class: "text-dark" %></span>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
