<div class="row">
  <div class="col-4">
      <h3>Requests:</h3>
  </div>
</div>
<% @requests.each do |r| %>
<div class="card-body p-0 p-sm-1 mb-2 mb-sm-2" id="request_<%= r.id %>">
  <div class="card border-0 border-sm-1 col">
    <div class="card-header bg-warning text-dark rounded-0 row p-2">
      <%= tag.div r.subject, class: 'col' %>
      <%= tag.div time_ago_in_words(r.created_at) + " ago ", class: 'col-2 small' %>
      <div class="float-right">
        <%= link_to "open", request_path(r), class: 'btn btn-outline-dark btn-sm'%>
        <%= link_to "edit", edit_request_path(r), class: 'btn btn-outline-dark btn-sm'%>
        <button class="btn btn-dark btn-sm" href="#request_body_<%= r.id %>" data-toggle="collapse">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
    <div id="request_body_<%= r.id %>" class="collapse" aria-expanded="false">
      <div class="card-body p-1 m-1" >
        <%= tag.small class:"" do %>
          Client: <%= r.client_name %>
        <% end %>
        <hr class="mt-1 mb-1">
        <%= tag.div r.body, class: 'mb-2' do %>
          <% if r.availabilities.any? %>
            <button href="#request_body_<%= r.id %>_availabilities" class="btn btn-outline-light btn-sm no-border position-relative p-1 m-1 collapsed" data-toggle="collapse">
              <%= icon("fas fa-lg", "list-alt", class:"fa-lg") %>
              <i class="badge badge-light badge-float bg-warning"><%= r.availabilities.size %></i>
            </button>

            <div class="collapse" id="request_body_<%= r.id %>_availabilities">
              <div class="card-body">
                <% r.availabilities.each_with_index do |a, i| %>
                  <%= render partial: 'datetime_request', locals: { availability: a, index: i } %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div id="status-<%= r.id %>" class="">
            completed: <%= r.completed? ? icon('far', 'check-square', class: 'strong') : icon('far', 'square', class: 'strong') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>
</div>
