<%= form_with(model: @request, local: true) do |f| %>

<% if @request.errors.any? %>

  <% @request.errors.full_messages.each do |m| %>
    <%= m %><br>
  <% end %>

<% end %>
  <div class="form-group">
    <%= tag.small "client name", class: 'ml-2 form-text'%>
    <%= f.text_field :client_name, class: 'form-control col-md-6' %>
  </div>
  <div class="row">
    <div class="col p-0" id="requested_availabilities">
      <%= f.fields_for :availabilities, @availabilities do |a| %>
        <%= render 'availability_request', :a => a %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= tag.small "subject", class: 'ml-2 form-text'%>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= tag.small "message", class: 'form-text ml-2'%>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="form-text text-light ml-2">message must be between 3 and 300 characters</small>
  </div>
  <% if f.object.persisted? %>
    <div class="form-group">
      <%= f.check_box :status, {}, "completed", "active" %> Completed?
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
</div>
<% end %>
