<!DOCTYPE html>
<html>
  <head>
    <title>ExploringOptions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="body-element">
    <div class="header px-0 px-sm-3 pb-5 smooth-scrolling">
      <!-- NAVIGATION -->
      <nav class="navbar navbar-expand-sm d-flex px-0 py-0 fixed-top bg-light">

          <a href="<%= root_path %>" class="navbar-brand px-2 py-0 pt-1 text-dark align-self-center">
            <span class="d-none d-sm-inline">Exploring Options</span>
            <span class="d-inline d-sm-none">EO</span>
          </a>
          <a id="navToggle" class="navbar-toggler px-2 px-sm-3 align-self-center" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle Navigation" title="menu">
            <%= icon('fas', 'ellipsis-h', class: 'mb-1 pt-1') %>
          </a>

        <div id="navbarDropdown" class="navbar-collapse collapse px-3 px-sm-0 pt-1 bg-xs-inherit align-self-end">
          <% if current_user %>
            <ul class="navbar-nav my-0">
              <li class="nav-item">
                <span class="d-inline d-sm-none">Timeout in: </span><%= tag.span current_user.timeout_in, class: "text-monospace",id: 'timeout-clock' %>
              </li>
            </ul>
          <% end %>
          <ul class="navbar-nav my-0 ml-auto">
            <% if current_user %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark', title: 'sign-out' do %>
                  <%= icon('fas', 'sign-out-alt') %>
                  <span class="d-inline d-sm-none d-md-inline">Sign Out</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to profiles_path(current_user), class: "nav-link text-dark" do %>
                  <%= icon('far', 'user', class: 'p-0 m-0') %>
                  <span class="d-inline d-sm-none d-md-inline"><%= current_user.display_name %></span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  <%= icon('fas', 'sign-in-alt') %>
                  <span class="d-none d-sm-inline">Login</span>
                <% end %>
              </li>
              <% end %>
          </ul>
        </div>
      </nav>
      <div id="overlay" class="overlay collapse"></div>
    </div>
    <div class="full-height with-nav fixed-below-nav">

      <% if flash.any? %>
      <!-- ERROR messages -->
        <div id="sitewide-alert" class="shadow my-2 small alert alert-dismissible fade show bg-white border d-flex">
          <button type="button" class="close align-self-center h-100" data-dismiss="alert" ><%= icon("fas", "times", class: 'fa-sm float-right', id: 'alert-close' ) %></button>
          <% flash.each do |name,msg| %>
            <% unless name == "timedout" %>
              <div id="flash-alert" role="alert" class="<%= alert_for(flash.first[0]) %> strong h6 my-1">
                <%= msg %>
              </div>
              <% end %>
            <% end %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
