<!DOCTYPE html>
<html>
  <head>
    <title>ExploringOptions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="body-element">
    <div class="header px-0 px-sm-3 pb-5">
      <!-- NAVIGATION -->
      <nav class="navbar navbar-expand-sm d-flex px-0 py-0 fixed-top border-bottom bg-light">

          <a href="/" class="navbar-brand abs text-link px-2">
            <span class="d-none d-sm-inline">Exploring Options</span>
            <span class="d-inline d-sm-none">EO</span>
            </a>
          <a id="navToggle" class="navbar-toggler px-2 px-sm-3 py-2" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle Navigation" title="menu">
            <%= icon('fas', 'ellipsis-h', class: 'mb-1 pt-1') %>
          </a>

        <div id="navbarDropdown" class="bg-light navbar-collapse collapse">
          <% if current_user %>
            <ul class="navbar-nav">
              <li class="nav-item px-3 px-sm-1">
                <span class="d-inline d-sm-none">Timeout in: </span><%= tag.span current_user.timeout_in, class: "text-monospace",id: 'timeout-clock' %>
              </li>
            </ul>
          <% end %>
          <ul class="navbar-nav ml-auto p-0 d-flex justify-content-end">
            <% if current_user %>
              <li class="nav-item px-3 px-sm-1 py-1">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark', title: 'sign-out' do %>
                  <%= icon('fas', 'sign-out-alt') %>
                  <span class="d-inline d-sm-none d-md-inline">Sign Out</span>
                <% end %>
              </li>
              <li class="nav-item px-3 px-sm-1 py-1">
                <%= link_to profiles_path(current_user), class: "nav-link text-dark" do %>
                  <%= icon('fas', 'home', class: 'p-0 m-0') %>
                  <span class="d-inline d-sm-none d-md-inline">Dashbaord</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item px-3 px-sm-1 py-1">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  <%= icon('fas', 'sign-in-alt') %>
                  <span class="d-none d-sm-inline">Login</span>
                <% end %>
              </li>
              <% end %>
          </ul>
        </div>
      </nav>
      <div id="overlay" class="overlay collapse"></div>
    </div>
    <div class="">

      <% if flash.any? %>
      <!-- ERROR messages -->

      <div id="sitewide-alert" class="shadow my-2 small alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" ><%= icon("fas", "times", class: 'fa-sm float-right', id: 'alert-close' ) %></button>
        <% flash.each do |name,msg| %>
          <% unless name == "timedout" %>
            <%= content_tag :div, id: "flash-alert", role:"alert" do %>
              <%= msg %>
            <% end %>
          <% end %>
        <% end %>

      </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
